*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.navbar{
    display:flex;
    align-items: center;
    padding:20px;
}
nav{
    flex:1;
    text-align:right;
}
nav ul{
    display:inline-block;
    list-style-type:none;
}
nav ul li{
    display:inline-block;
    margin-right:20px;
}
a{
    text-decoration: none;
    color:#555;
}
p{
    color:#555;
}
.hero {
  background-image: url("home.jfif"); /* or clinic image.jfif */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  text-align: center;
  padding: 20px;
}
